* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.tickets-list {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.tickets-list td, .tickets-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tickets-list tr:nth-child(even){background-color: #f2f2f2;}

.tickets-list tr:hover {background-color: #ddd;}

.tickets-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.page-number {
  cursor: pointer;
}